<h1> <%= @title  %> </h1>
<%= render "shared/message_form" %>
<div class="row-fluid">
	<div class="span8"> 
		<%= paginate @items %>
		<% @items.each do |item| %>
			<%= render :partial => "shared/message_item", :locals => {:item => item} %>
		<% end %>
	</div>
</div> 