<%= render "shared/search_form" %>
<h1> Search result for "<%= @search %>": </h1>
<% unless @users.blank? %>
	<%= render @users %>
<% else %>
 <p>
   Your search "<%= @search %>" did not match any users. 
 </p>
<% end %>