<div class="row-fluid">
	<div class="span2">
		<%= image_tag invite.user.avatar.url(:thumb) %>
	</div>
	<div class="span6">
		<%= link_to invite.user.fname, user_path(invite.user) %>
		<p>want to add you to friends</p>
		<div class="form-actions">
			<%= link_to("Accept invite", accept_user_friendship_path(invite), :method => :put,
				:class => "btn btn-primary") %> 
			<%= link_to("Cancel invite", cancel_user_friendship_path(invite), :method => :delete,
				:class => "btn btn-primary") %>
		</div>
	</div>
</div>
