<table class="table">
	<thead>
		<tr>
			<th>From:</th>
			<th>To:</th>
			<th>Content:</th>
			<th>Date:</th>
		</tr>
	</thead>
	<tbody>
		<%= render @messages %>
	</tbody>
</table>
<%= link_to "Outbox", outbox_path, :class => 'btn' %>