]<% unless @items.blank? %>
	<div class="row-fluid">
		<div class="span10">
			<% @items.each do |item| %>
				<% case item.notificable_type %>
					<% when "Comment" %>
						<%= render :partial => "shared/comment_notification",
							:locals => {:item => item} %>
					<% when "Like" %>
						<%= render :partial => "shared/like_notification",
							:locals => {:item => item}  %>
					<% when "Post" %>
						<%= render :partial => "shared/post_notification",
							:locals => {:item => item}  %>
					<% when "Message" %>
						<%= render :partial => "shared/message_notification",
							:locals => {:item => item}  %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>